.gradle
.idea
build/
*/build/

# OpenCode nonsense
.project
.classpath
.factorypath
.settings/
.metadata/
.recommenders/
bin

# Other LLM nonsense
.junie

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# I never use this file, and it causes more problems than it solves on Windows with Cygwin
gradlew.bat

# Bosk-Mongo TLA+ model checking
bosk-mongo/libs/
bosk-mongo/TLA+/states/
