<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level [%thread] [%X{bosk.name}]%X{bosk.MongoDriver.transaction}%X{bosk.MongoDriver.event} %logger{25}: %msg%n</pattern>
		</encoder>
		<immediateFlush>true</immediateFlush>
	</appender>
	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>

	<!-- This emits warnings that matter in production but not in tests -->
	<logger name="mongo.drivers.works.bosk.UninitializedCollectionException" level="ERROR"/>

	<!-- How to add more tracing during unit tests
	<logger name="io.vena.bosk.drivers.mongo" level="DEBUG"/>
	<logger name="drivers.works.bosk.DriverConformanceTest" level="DEBUG"/>
	<logger name="mongo.drivers.works.bosk.PandoFormatDriver" level="TRACE"/>
	<logger name="mongo.drivers.works.bosk.MainDriver" level="TRACE"/>
	 -->

</configuration>
